.formcontents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 300px;
    margin-top: -100px;
    margin-left: -275px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

.buffer{
    display: flex;
    flex-direction: row;
    width:auto;
    margin: 10px;
    padding: 10px;

    justify-content: center;
    align-items: center;
}

#show_bg_2 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
  
	z-index: 1;
	background: radial-gradient(73.47% 73.47% at 50% 50%, #FFFFFF 29.17%, #f1f1f1 72.92%);
  }

  .topbar{
	position: absolute;
	top: 10px;
	left :0px;
  
	z-index: 2;
}

.top_text{
	font-family: Montserrat;
	font-size: 20px;
	color: #000;
	font-weight: 700;
  
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
	transition-duration: 0.5s;
  
	z-index: 2;
}

.title {
	color: #000;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 80px;
	opacity: 1;
	text-align: center;
	
	transition-duration: 0.5s;
	z-index: 3;
}

.image{
	background-image: url("../images/Support.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  
	position: absolute;
	top: 20px;
	left: 90%;
  
	width: 150px;
	height: 150px;

    margin-left: -75px;
  
	overflow: hidden;
	z-index: 2;
  
	transition-duration: 1s;
}


.files{
    padding: 10px;
    flex-grow: 1;
    display: none;

    border-width: 5px;
    border-color: #0F3F7D;
}

.custom-file-upload {
    border-radius: 20px;
    border: 5px solid #0F3F7D;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

.msg_box{
    padding: 20px;
    flex-grow: 2;

    border-width: 0 0 10px;
    border-bottom-color: #0F3F7D;

    width: 300px;
    height: 50px;

    font-family: Montserrat;
	font-weight: 500;
	font-size: 15px;
}


/*

Checkbox additions

*/
.fileCompressionSwitch {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--form-background);
	margin: 0;
  
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
  
	display: grid;
	place-content: center;
  }
  
  .fileCompressionSwitch::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: CanvasText;
  }
  
  .fileCompressionSwitch:checked::before {
	transform: scale(1);
  }
  
  .fileCompressionSwitch:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
  }
  
  .fileCompressionSwitch:disabled {
	--form-control-color: var(--form-control-disabled);
  
	color: var(--form-control-disabled);
	cursor: not-allowed;
  }


.redirect{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 25px;
    background-color: #1A73E8;
    
	font-family: Montserrat;
	font-weight: 600;
	font-size: 25px;

    color: #fff;
    font-weight: bold;
    padding: 2px;
    
	height: 50px;
	width: 200px;
    
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 0 3px #888;
    
    z-index: 1;
}

.redirect:hover{
    background-color: #0E53ff;
}

.redirect:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.err{
	position: absolute;
	top: 0px;
	left: 200px;

	width: 300px;
}

.labels{
	color: #000;
	font-family:Montserrat;
	font-weight: 600;
	font-size:25px;
	letter-spacing:0;

    padding: 15px;
	transition-duration: 0.5s;
}

.labels2{
	color: #000;
	font-family:Montserrat;
	font-weight: 600;
	font-size: 12px;
	letter-spacing:0;

    padding: 15px;
	transition-duration: 0.5s;
}

.textboxes {
	color: #000;

	border-width: 0 0 6px;
	border-color:#1A73E8;

	font-family:Montserrat;
	font-size: 17px;

	padding: 15px;
	font-weight: 600;
	transition-duration: 0.5s;
}

@media only screen and (max-width:920px){
	.formcontents{
		top: 25%;
	}
	
	.labels{
		color: #000;
		font-family:Montserrat;
		font-weight: 600;
		font-size: 20px;
		letter-spacing:0;
	
		padding: 7px;
		z-index: 3;
	}
	
	.textboxes {
		color: #000;
	
		border-width: 0 0 6px;
		border-color:#1A73E8;
	
		font-family:Montserrat;
		font-size: 15px;
	
		padding: 15px;
		font-weight: 600;
		z-index: 3;
	}
}

@media only screen and (max-width:600px){
	.formcontents{
		top: 40%;
	}
	
	.labels{
		color: #000;
		font-family:Montserrat;
		font-weight: 600;
		font-size: 20px;
		letter-spacing:0;
	
		padding: 7px;
		z-index: 3;
	}
	
	.textboxes {
		color: #000;
	
		border-width: 0 0 6px;
		border-color:#1A73E8;
	
		font-family:Montserrat;
		font-size: 15px;
	
		padding: 15px;
		font-weight: 600;
		z-index: 3;
	}
}

@media only screen and (max-width:400px) and (max-height:800px){
	.labels{
		color: #000;
		font-family:Montserrat;
		font-weight: 600;
		font-size: 20px;
		letter-spacing:0;
	
		padding: 7px;
		z-index: 3;
	}
	
	.textboxes {
		color: #000;
	
		border-width: 0 0 6px;
		border-color:#1A73E8;
	
		font-family:Montserrat;
		font-size: 15px;
	
		padding: 15px;
		font-weight: 600;
		z-index: 3;
	}

	.image{
		position: absolute;
		top: 50%;
		left: 50%;
	  
		width: 150px;
		height: 150px;
	
		margin-left: -75px;
		margin-top: -75px;
	  
		overflow: hidden;
		z-index: 1;
		opacity: 0.3;
	  
		transition-duration: 1s;
	}
}

@media only screen and (max-width:500px) and (max-height:920px){
	.formcontents{
		top: 35%;
	}
	
	.labels{
		color: #000;
		font-family:Montserrat;
		font-weight: 600;
		font-size: 20px;
		letter-spacing:0;
	
		padding: 7px;
		z-index: 3;
	}
	
	.textboxes {
		color: #000;
	
		border-width: 0 0 6px;
		border-color:#1A73E8;
	
		font-family:Montserrat;
		font-size: 15px;
	
		padding: 15px;
		font-weight: 600;
		z-index: 3;
	}

	.image{
		position: absolute;
		top: 40%;
		left: 50%;
	  
		width: 150px;
		height: 150px;
	
		margin-left: -75px;
		margin-top: -75px;
	  
		overflow: hidden;
		z-index: 1;
		opacity: 0.3;
	  
		transition-duration: 1s;
	}
}

@media only screen and (max-width:300px){
	
	.title{
		font-size: 45px;
		font-weight: 600;
	}

	.formcontents{
		top: 35%;
		flex-direction: column;
	}

	.buffer{
		flex-direction: column;
	}
	
	.labels{
		color: #000;
		font-family:Montserrat;
		font-weight: 600;
		font-size: 20px;
		letter-spacing:0;
	
		padding: 7px;
		z-index: 3;
	}
	
	.textboxes {
		color: #000;
	
		border-width: 0 0 6px;
		border-color:#1A73E8;
	
		font-family:Montserrat;
		font-size: 15px;
	
		padding: 15px;
		font-weight: 600;
		z-index: 3;
	}
}