<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link href="{{ url_for('static', filename='css/chat_template.css') }}" rel="stylesheet" />
    <link href="../static/css/chat_template.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main>
        <div class="show_bg">

        </div>
        <div class="hex_background">

        </div>

        <h1 class="subtitle">bitBybit/{{ var }}</h1>
        <div class="bottom_control">
            <form enctype=multipart/form-data method="post" action="{{ url_for('select') }}" id="mainform" class="dropzone" name="mainform">
                <input name="files" type="file" class="files">
                <textarea class="msg_box" from="mainform"></textarea>
            </form>
        </div>
    </main>
</body>
</html>
