<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/options.css') }}" rel="stylesheet" />
    <link href="../static/css/options.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/JS/options.js" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='JS/options.js') }}" defer></script>
</head>
<body>
    <main>
        <div class="show_bg_2"></div>
        <div class="topbar">
            <ul>
                <li><a href="{{ url_for('hello') }}" class="top_text">Home</a></li>
            </ul>
        </div>

        <div class="image"></div>

        <div class="buffer">
            <h1 class="title">bitBybit</h1>
        </div>

        <div class="formcontents">
            <form action="{{ url_for('options') }}" enctype="multipart/form-data" method="post" id="mainform" role="form">
                <div class="buffer">
                    <label for="files" class="labels">File upload: </label>
                    <label class="custom-file-upload">
                        <img src="{{ url_for('static', filename='images/paperclip.png') }}" height="50px" width="50px">
                        <input name="files" type="file" class="files" multiple>
                    </label>
                </div>

                <div class="buffer">
                    <label for="links" class="labels">Name: </label>
                    <input name="links" class="textboxes textln" type="text" data-max-words="1" placeholder="Enter room name" required>
                </div>

                <div class="buffer">
                    <label class="labels small">Compress as ZIP:</label>
                    <input type="checkbox" id="switch">
                </div>

                <div class="buffer">
                    <input name="enter_chat" class="redirect" type="submit" value="Join">
                </div>
            </form>
        </div>
    </main>
</body>
</html>