<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/confirm.css') }}" rel="stylesheet" />
    <link href="../static/css/select.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main>
        <div class="hex_background"> </div>
        <div class="foreground">
            <h3 class="subtitle">Enter the name and passcode</h3>
            <form enctype=multipart/form-data method="post" action="{{ url_for('chat') }}" id="mainform">
                <label for="links" class="labels ln">Name: </label>
                <input name="links" class="textboxes textln" type="text" data-max-words="1" placeholder="eg: sub">
        
                <label for="passcodes" class="labels sp">Security pin: </label>
                <input name="passcodes" class="textboxes textsp" type="text" data-max-words="1" placeholder="eg: 123">

                <input name="submit" class="control a1" type="submit" value="Join">
            </form>
        
            <form enctype=multipart/form-data method="post" action="{{ url_for('create') }}" id="mainform">
                <label for="Create" class="alternative">Don't have one? Click below to create.</label>
                <input name="Create" class="control a2" type="submit" value="Create">
            </form>
        </div>
    </main>
</body>
</html>