<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/select.css') }}" rel="stylesheet" />
    <link href="../static/css/select.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main>
        <div class="show_bg_2"></div>
        <div class="topbar">
            <ul>
                <li><a href="{{ url_for('hello') }}" class="top_text">Home</a></li>
            </ul>
        </div>

        <div class="center">
            <div class="image"></div>
            <span class="title">bitBybit</span>

            <div class="formloc">
                <form action="{{ url_for('select') }}" enctype="multipart/form-data" method="post" id="mainform" role="form">
                <table>
                <tr> 
                    <td> <label for="links" class="labels ln">Name: </label> </td> 
                    <td> <input name="links" class="textboxes textln" type="text" data-max-words="1" placeholder="Enter room name" required> </td>
                </tr>

                <tr>
                    <td> <label for="passcodes" class="labels sp">Security pin: </label> </td>
                    <td> <input name="passcodes" class="textboxes textsp" type="text" data-max-words="1" placeholder="eg: 123" required> </td>
                </tr> 

                <tr> <td colspan="2"> <input name="enter_chat" class="redirect" type="submit" value="Join"> </td> </tr>
                </table>
                </form>

                <div class="notice">
                    {% with messages = get_flashed_messages() %}  
                    {% if messages %}  
                        {% for message in messages %}  
                        <p class="top_text err">{{ message }}</p>  
                        {% endfor %}  
                    {% endif %}  
                    {% endwith %}  
                </div>
            </div>
        </div>
    </main>
</body>
</html>