<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
          
    <title>Html Generated</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet" />
    <link href="upload.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
      Dropzone.options.myDropzone = {

        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 10,
        timeout: 2700000,
        init: function() {
          myDropzone = this; // closure

          this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
            e.preventDefault();
            e.stopPropagation();
            myDropzone.processQueue();
          });

        }
      };
    </script>

    <style>
      

    </style>
  </head>
          
  <body>
    <main>
      <div class="title"> bitBybit </div>
      <form enctype=multipart/form-data method="post" action="/uploader" id="mainform" class="dropzone">
        <label for="files" class="labels fu">File upload</label>
        
        <label for="message" class="labels am">Accompanying message</label>
        <textarea name="message" form="mainform" class="textareas"></textarea>

        <label for="links" class="labels ln">Link name: </label>
        <input name="links" class="textboxes textln" type="text" data-max-words="1" placeholder="eg: sub">

        <label for="passcodes" class="labels sp">Security pin: </label>
        <input name="passcodes" class="textboxes textsp" type="text" data-max-words="1" placeholder="eg: 123">

        <label for="TTL" class="labels lat">Link Active time: </label>
        <select name="TTL" class="dropdown textlat">
          <option value="0">Delete Immediately</option>
          <option value="1">After 1 hour</option>
          <option value="2">After 2 hours</option>
          <option value="3">After 4 hours</option>
          <option value="4">After 8 hours</option>
          <option value="5">Indefinitely</option>
        </select>
        
        <input name="reset" class="control a1" type="reset" value="reset">
        <input name="submit" class="control a2" type="submit" value="submit">
      </form>
    </main>
  </body>
</html>